extends layout.pug

block content
  if item
    table
      tbody
        tr
          th Nome
          td= item.nome
        tr
          th Ingredientes
          td= item.ingredientes
        tr
          th Preço
          td= item.preco
        tr
          th Observações
          td= item.observacoes
  else
    p.empty-message Item não encontrado.