doctype html
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Platform de Selling Items

    link(rel="stylesheet", href="/css/layout.css")

    block styles

  body
    header.top-bar
      .nav-buttons
        a.nav-square(href="/menu")
          img(src="/img/icons/home.png" alt="Home")
        a.nav-square(href="/user")
          img(src="/img/icons/user.png" alt="Users")

      h1.page-title Platform of Selling Items

    main
      block content
