

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.menu-card {
  background: white;
  width: 400px;
  height: 300px;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}

.menu-owner {
  font-size: 14px;
  color: #444;
  font-weight: 600;
}

.menu-image {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin: 10px auto;
    display: block;
}

.menu-name {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #222;
}

.menu-name:hover {
  text-decoration: underline;
}

.menu-info {
  font-size: 14px;
  color: #555;
  margin-top: -2px;
}